*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stickyHeader {
  width: 100%;
  height: 6vh;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.stickyHeaderLeft {
  padding-left: 2rem;
}
.stickyHeaderLeft ul li {
  list-style-type: none;
  line-height: 6vh;
  font-size: 0.8rem;
  padding-left: 1rem;
}
.stickyHeaderLeft ul li a {
  text-decoration: none;
  color: rgb(250, 248, 243);
}
.stickyHeaderLeft ul li a:hover {
  color: rgb(197, 195, 189);
}
.stickyHeaderLeft ul {
  display: flex;
  flex-direction: row;
}
.stickyHeaderRight a {
  padding-right: 1.5rem;
  line-height: 6vh;
  text-decoration: none;
  color: rgb(193, 189, 178);
}
.stickyHeaderRight a:hover {
  color: rgb(250, 248, 243);
}
